#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#header-nav .navbar-brand {font-size: 1.6em;
  			   color: #445f3f;
  			   font-weight: bold;
  			   font-style: italic;}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a {
  font-size: 1.4em;
}
.navbar button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #61122f;}

.container {width: 100%;}

#Chicken, #Beef, #Sushi {
  height: 700px;
  width: 100%;
  position: relative;
  background-color: #999999;
  border-radius: 5px;
}
.container .row a 	{position: absolute;
	 				 right: 0;
	 				 border: 1px solid black;
	 				 color: #fff;
  					 background-color: #61122f;
  					 font-size: 0.9em;
}
.container .row p {padding: 0 5px 0 5px;
				   }

.container .row h3 {padding-top: 10px;
					}



